[class*="__container"] {
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 15px;
}

.wrapper {
    position: relative;
    overflow: hidden;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.wrapper > main {
    flex-grow: 1;
}

body {
    font-family: "Lato", sans-serif;
    color: #424551;
}

.page {
}

.page__main {
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    z-index: 100;
}
.header__container {
    display: flex;
    align-items: center;
    gap: 60px;
}
.header__logo {
}
.header__menu {
    flex-grow: 1;
}
.menu__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 10px;
}
.menu__item {
}
.menu__link {
    font-weight: 700;
}

.menu__link:hover {
    text-decoration: underline;
}
.header__actions {
}
.actions-header {
    display: flex;
    flex-shrink: 1;
    align-items: center;
    gap: 36px;
    flex-wrap: wrap;
}
.actions-header__button {
}
.button {
}
.actions-header__auth {
    background-image: url("../images/icons/user.svg");
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 24px;
    line-height: 1.25;
    font-weight: 700;
}

.actions-header__auth:hover span {
    text-decoration: underline;
}

/* =============================== */

.main-block {
    position: relative;
    padding: 200px 0 80px;
    background: linear-gradient(55.95deg, rgba(255, 64, 58, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%);
}
.main-block__container {
    position: relative;
    z-index: 2;
}
.main-block__body {
    margin-bottom: 190px;
}
.body-main {
    display: flex;
}

.body-main__content {
    flex: 0 1 50%;
    padding-right: 40px;
    align-self: center;
}
.body-main__play {
    position: relative;
    font-weight: 700;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    gap: 16px;
}

.body-main__play:not(:last-child) {
    margin-bottom: 40px;
}

.body-main__play::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background: #ff3f3a;
    opacity: 0.12;
    transform: scale(1.6);
    animation: play-circle 1.5s infinite ease;
}

.body-main__play::before {
    content: "";
    flex: 0 0 52px;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background: #ff3f3a url("../images/icons/play.svg") center no-repeat;
}

.body-main__play:hover::after {
    animation-play-state: paused;
}

@keyframes play-circle {
    0% {
        transform: scale(1.6);
    }
    100% {
        opacity: 0;
        transform: scale(3);
    }
}

.body-main__title {
    font-weight: 900;
    font-size: 64px;
    line-height: 1.3;
    letter-spacing: 1px;
    color: #1e212c;
}

.body-main__title:not(:last-child) {
    margin-bottom: 60px;
}
.body-main__actions {
    display: flex;
    align-items: center;
    gap: 24px;
}
.body-main__button {
}
.button {
}
.button--border {
}

.body-main__media {
    flex: 0 1 50%;
}

.body-main__img {
    max-width: 107.8%;
    transform: translate(7.8%, 0);
}
.main-block__advantages {
}
.advantages-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.advantages-main__item {
}

.item-advantages {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #1e212c;
}

.advantages-main__circle {
    flex: 0 0 8px;
    height: 8px;
    width: 8px;
    background-color: #ff3f3a;
    border-radius: 50%;
}

.item-advantages__value {
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
}
.item-advantages__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.main-block__decor {
}
.decor-main {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.decor-main__item {
    position: absolute;
}

.decor-main__item--1 {
    background: url("../images/main/decor/icon-1.svg") 0 0 no-repeat;
    width: 96px;
    height: 96px;
    top: 12%;
    left: 4.2%;
}

.decor-main__item--2 {
    background: url("../images/main/decor/icon-2.svg") 0 0 no-repeat;
    width: 284px;
    height: 284px;
    bottom: -9.2%;
    left: -5.5%;
}

.decor-main__item--3 {
    background: url("../images/main/decor/icon-4.svg") 0 0 no-repeat;
    width: 88px;
    height: 47px;
    top: 46%;
    left: 40%;
}

.decor-main__item--4 {
    background: url("../images/main/decor/icon-3.svg") 0 0 no-repeat;
    width: 61px;
    height: 61px;
    bottom: 24%;
    left: 38%;
}

.decor-main__item--5 {
    background: url("../images/main/decor/icon-1.svg") 0 0 no-repeat;
    width: 110px;
    height: 110px;
    top: -1.5%;
    right: 4%;
    transform: rotate(135deg);
}

.decor-main__item--6 {
    background: url("../images/main/decor/icon-6.svg") 0 0 no-repeat;
    width: 187px;
    height: 137px;
    bottom: 18%;
    right: -1.5%;
}

.about {
    padding: 180px 0;
    position: relative;
}

.about__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about__image {
    width: 705px;
    margin-right: 20px;
}

.about__image img {
    max-width: 100%;
}

.about__content {
    max-width: 360px;
}

.content-about__pretitle {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #1e212c;
}

.content-about__pretitle:not(:last-child) {
    margin-bottom: 8px;
}

.content-about__title {
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    color: #1e212c;
}

.content-about__title:not(:last-child) {
    margin-bottom: 40px;
}

.content-about__list {
    margin-bottom: 48px;
}

.content-about__item {
    position: relative;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #424551;
    padding-left: 32px;
}

.content-about__item::before {
    position: absolute;
    content: "";
    transition: transform 0.3s ease;
    left: 0;
    top: 7px;
    width: 16px;
    height: 16px;
    background-image: url("../images/icons/check.svg");
}

.content-about__item:hover::before {
    transform: scale(1.5);
}

.content-about__item:not(:last-child) {
    margin-bottom: 12px;
}
/* 
.about__decor {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
} */

.decor__item {
    position: absolute;
}

.decor__item--1 {
    background: url("../images/about/about-icon01.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 181px;
    height: 132px;
    top: 28%;
    left: -4%;
}

.decor__item--2 {
    background: url("../images/about/about-icon02.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 287px;
    height: 287px;
    bottom: 16%;
    right: -8%;
}
